header {
    background-color: blue;
}

.name {
    text-align: center;
    color: darkviolet;
    background-color:aqua;
}

.van {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%}

h3 {
    color: indigo;
    background-color: lightslategrey;
    text-align: center;
}

